main{
    max-width: 80%;
    margin: 0 auto;
}

#successMessage{
    text-align: center;
    margin-top: 10px;
    color: green;
}

h1{
    text-align: center;
    margin: 0;
    padding: 1em 0 0.5em 0;
}
#listUser{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1em 0 1em 0;
    font-weight: bold;
}
#usersList{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding:0;
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
button{
    height: 80%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    text-align: center;
}

.delete-button{
    background-color: #993434;
}

#newUserButton{
   margin-left: 0;
}

.button-container{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
}

.button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

.button-container button a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;

}

button:hover {
    background-color: #555;
}
.username{
    align-content: center;
    overflow-wrap: break-word;
    width: 50%;
    text-align: left;
}



