<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/adminstyles.css}">
    <script th:src="@{/js/Navigation.js}"></script>
    <script th:inline="javascript">
        function confirmDelete(username, isAdmin) {
            console.log("Delete button clicked for user: " + username);
            console.log("User is " + isAdmin);
            if (isAdmin === 'true') {
                alert("Admin user cannot be deleted.");
            } else {
                var result = confirm("Are you sure you want to delete user '" + username + "'?");
                if (result) {
                    document.getElementById("deleteForm-" + username).submit();
                }
            }
        }

    </script>
</head>
<body>
<nav th:replace="components/navigation"></nav>
<main>
<h1>User List</h1>
    <a th:href="@{/signup}">
        <button  id="newUserButton">Make New User</button>
    </a>
<ul id="usersList">
    <th:block th:each="user : ${users}">
        <div id="listUser">
            <div class="username" th:text="${user.username}"></div>
            <th:block th:if="${!user.admin}">
                <div class="button-container">
                    <button>
                        <a th:href="@{/admin/change-user-password(username=${user.username})}">Change Password</a>
                    </button>
                <form th:id="'deleteForm-' + ${user.username}" th:action="@{/deleteUser}" method="post">
                    <input type="hidden" name="username" th:value="${user.username}" />
                    <button type="button" class="delete-button"
                            onclick="confirmDelete(this.getAttribute('data-username'), this.getAttribute('data-admin'))"
                            th:attr="data-username=${user.username}, data-admin=${user.isAdmin}">Delete</button>
                </form>

                </div>
            </th:block>

            <th:block th:if="${user.admin}">
                <div>ADMIN</div>
            </th:block>
        </div>
    </th:block>
</ul>


</main>
</body>
</html>