<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/loginstyles.css}">
  <script th:src="@{/js/Navigation.js}"></script>
  <script>
    function validateForm() {
      var newPassword = document.getElementById("newPassword").value;
      var repeatPassword = document.getElementById("repeatPassword").value;

      if (newPassword !== repeatPassword) {
        document.getElementById("alert").innerHTML = "Passwords do not match.";
        return false;
      }
      return true;
    }
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<nav th:replace="components/navigation"></nav>

<div class="login-container">

  <form class="login-form" th:action="@{/admin/change-user-password}" method="post" onsubmit="return validateForm()">
    <h3>Changing password for: <span th:text="${username}"></span></h3>
    <input type="hidden" name="username" th:value="${username}" />
      <div class="input-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>
      </div>
      <div class="input-group">
        <label for="repeatPassword" class="input-label">Repeat password:</label>
        <input type="password" id="repeatPassword" name="repeatPassword" class="text-input" >
      </div>
      <p th:if="${errorMessage != null}" id="alert" class="alert" th:text="${errorMessage}"></p>
     <button type="submit">SUBMIT</button>
  </form>
  <div class="logo-container">
    <img th:src="@{../img/smplogo.png}" alt="Logo">
  </div>
</div>
</body>
</html>