<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No access!</title>
    <meta name="description" content="No access page">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}">
    <script th:src="@{/js/Navigation.js}"></script>
</head>
<body>
<main>
    <nav th:replace="components/navigation"></nav>
        <div id="feedback-container">
            <h1>You don't have access to this page!</h1>
            <a th:href="@{/}">
                <button>BACK TO SAFETY</button>
            </a>
        </div>
</main>
</body>
</html>