<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Status</title>
    <link rel="stylesheet" th:href="@{/styles/register.css}">
    <link rel="stylesheet" th:href="@{/styles/input-form-design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/userfeedback.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Client secret upload status">
</head>
<body>
<header th:replace="components/header"></header>
<main>
    <div id="feedback-container">
        <h2>Upload Status</h2>
        <p th:text="${message}"></p>
        <a th:href="@{/youtube}">
            <button class="white-outlined-btn-big">Go Back</button>
        </a>
    </div>
</main>
<footer th:replace="components/footer"></footer>
</body>
</html>
