<nav th:fragment="navigation">
  <div id="myNav" class="overlay">
    <a href="#" class="closebtn" onclick="closeNav(); return false;">&times;</a>

    <div class="overlay-content">
  <!--    <a th:href="@{/}">Sunnmørsposten</a>-->
      <a th:href="@{/facebook}">Facebook</a>
      <a th:href="@{/instagram}">Instagram</a>
      <a th:href="@{/youtube}">YouTube</a>
      <!--       <a th:href="@{/tiktok}">TikTok</a>-->
      <!--     <a th:href="@{/snapchat}">Snapchat</a>-->
      <th:block th:if="${user == null}" >
        <a th:href="@{/login}" aria-label="Go to login page">Login</a>
      </th:block>
      <th:block th:if="${user != null}">
        <a th:if="${user.isAdmin}" th:href="@{/admin}">Administrator</a>
       <a th:href="@{/logout}">Logg ut</a>
      </th:block>
    </div>

  </div>


  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
  <th:block th:if="${user != null}" >
    <h3 th:text="'Logget inn som: ' + ${user.username}"></h3>
  </th:block>
</nav>
