<header th:fragment="header">
  <div class="header-container">
    <h1>
      <a th:href="@{/}">SMP Demographic App</a>
    </h1>
    <nav>
      <div class="menu">
        <ul>
                <li> <a th:href="@{/youtube}">YouTube</a></li>
                <li> <a th:href="@{/tiktok}">TikTok</a></li>
                <li><a th:href="@{/instagram}">Instagram</a></li>
            <th:block th:if="${user != null}">
                <li th:if="${user.isAdmin}"><a th:href="@{/admin}">ADMIN</a></li>
                <li><a th:href="@{/logout}">LOG OUT</a></li>
            </th:block>
            <li>
                <th:block th:if="${user == null}" >
                    <a th:href="@{/login}" aria-label="Go to login page">
                        <button class="menu-btn-svg" title="Log in">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"  class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                            </svg>
                        </button>
                    </a>
                </th:block>

                <th:block th:if="${user != null}">
                    <a th:href="@{/users/} + ${user.username}" aria-label="Go to user page">
                        <button class="menu-btn-svg" title="Userpage">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#094A4F" viewBox="0 0 24 24" stroke-width="1.5"  class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                            </svg>
                        </button>
                    </a>
                </th:block>

          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>