<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMP Youtube</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
    <style>
        .spinner {
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-left-color: #7983FF;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            animation: spin 1s linear infinite;
            display: none; /* Initially hide the spinner */
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Youtube API Page">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<script th:inline="javascript">
    $(document).ready(function() {
        $('#updateJsonBtn').click(function(event) {
            event.preventDefault(); // Prevent the default form submission behavior

            // Show loading spinner
            $('.spinner').show();

            $.ajax({
                type: 'GET',
                url: '/updateJsonAndRefresh',
                success: function(response) {
                    console.log(response);
                    // Optionally show a success message or perform other actions
                    // Refresh the page to load the updated JSON data
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    // Optionally handle error response
                },
                complete: function() {
                    // Hide loading spinner
                    $('.spinner').hide();
                }
            });
        });
    });
</script>



<header th:replace="components/header"></header>

<main>
    <section id="main-container">
    <div th:if="${fetchNeeded}">
        <p>Data needs to be fetched</p>
    </div>
        <h2>Channel data all time</h2>
    <div id="channelDataAllTime" class="main-element" th:text="${channelDataAllTime}"></div>
        <h2>Channel data last 30 days</h2>
    <div id="channel30DaysDataa" class="main-element"th:text="${channel30DaysData}"></div>
        <h2>Latest video</h2>
    <div id="videosLatest" class="main-element" th:text="${videosLatest}"></div>

        <button id="updateJsonBtn">
            Update JSON Files
            <div class="spinner"></div>
        </button>

    </section>
</main>
<footer th:replace="components/footer"></footer>
</body>
</html>
